<section class="footer-gold-section" style="background-image: linear-gradient(rgba(112, 84, 0, 0.71), rgba(112, 84, 0, 0.71)), url('{{ 'gold-section-bg.jpg' | asset_url }}');" data-section-id="{{ section.id }}"></section>

{% schema %}
{
  "name": "Gold Banner",
  "settings": []
}
{% endschema %}
